.contact-container {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #080420;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}


h3 {
  color: white;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}


::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}


.contact {
  background-color: #ffffff34;
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.logo {
  height: 3rem;
}
.avatar img {
  height: 4rem;
}

.selected {
  background-color: #9a86f3;
}

.current-user {
  background-color: #0d0d30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.user-avatar img {
  height: 4rem;
  max-inline-size: 100%;
  margin-top: 1rem;
}

.user-avatar{
  position: relative;
  height: 100px;
  width: 100px;
}

.user-icon,
.edit {
  width: 100%;
  height: 100%;
  position: absolute;
}

.user-avatar:hover .edit {
    display: block;
}

.edit{
  margin: 4rem 0 0 4.1rem ;
  color: white;
  display: none;
}

h2 {
  color: white;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .username h2 {
    font-size: 1rem;
  }
}

span {
  color: #4e0eff
}

.status {
  color: white;
  padding-top: 0.8rem;
  font-size: 0.8rem;
}

.status svg {
  padding-top: 0.2rem;
  color: greenyellow;
}